<li>@Html.ActionLink("Judges", "Index", "JudgeMasters")</li>
<li>@Html.ActionLink("Lawyers", "Index", "LawyerMasters")</li>
<li>@Html.ActionLink("Court Rooms", "Index", "CourtRooms")</li>
<li>@Html.ActionLink("Applicants", "Index", "Parties")</li>
<li>@Html.ActionLink("Case File", "Index", "CaseMasters")</li>
<li>@Html.ActionLink("Hearing", "Index", "HearingMasters")</li>
